@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #c4c4c4;
  font-size: 14px;
  line-height: 20px;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #0175b2;
}

.resume-wrapper {
  display: flex;
  width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 10px;
}

.resume-wrapper .resume-left {
  width: 35%;
  background: #26252d;
}

.resume-wrapper .resume-left .resume-image {
  width: 100%;
}

.resume-wrapper .resume-left .resume-image img {
  width: 100%;
  display: block;
}

.resume-wrapper .resume-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.resume-wrapper .resume-left .resume-info {
  color: #84838b;
}

.resume-wrapper .resume-left .resume-bottom {
  padding: 20px 30px;
}

.resume-wrapper .resume-item {
  padding: 20px 0;
  border-bottom: 1px solid #0175b2;
}

.resume-wrapper .resume-item:last-child {
  border-bottom: 0;
}

.resume-wrapper .resume-left .resume-namerole {
  display: none;
}

.resume-wrapper .resume-namerole .name {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 4px;
}

.resume-wrapper .resume-left .resume-namerole .role {
  color: #84838b;
}

.resume-wrapper .resume-left .resume-contact .resume-info:last-child {
  margin-top: 10px;
}

.resume-wrapper .resume-left .resume-contact .resume-subtitle {
  color: #fff;
  margin-bottom: 2px;
}

.resume-wrapper .resume-left .resume-skills .skills-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.resume-wrapper .resume-left .resume-skills .skills-list .skills-bar p {
  position: relative;
  width: 125px;
  height: 20px;
  background: #fff;
}

.resume-wrapper .resume-left .resume-skills .skills-list .skills-bar p span {
  position: absolute;
  top: 0;
  left: 0;
  background: #0175b2;
  width: 100%;
  height: 100%;
}

.resume-wrapper .resume-right {
  width: 65%;
  padding: 20px 40px;
  color: #26252d;
}

.resume-wrapper .resume-right .resume-namerole .name {
  color: #26252d;
  font-size: 32px;
}

.resume-wrapper .resume-right .resume-namerole .role {
  font-size: 14px;
  text-transform: uppercase;
}

.resume-wrapper .resume-right .resume-item .resume-title {
  color: #26252d;
}

.resume-wrapper .resume-right .resume-data {
  display: flex;
}

.resume-wrapper .resume-right .resume-data .institution {
  padding-right: 35px;
  width: 115px;
  position: relative;
}

.resume-wrapper .resume-right .resume-data .content {
  padding-left: 35px;
  margin-bottom: 20px;
  width: calc(100% - 115px);
}

.resume-wrapper .resume-right .resume-data .institution:before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #26252d;
  border-radius: 50%;
}

.resume-wrapper .resume-right .resume-data .institution:after {
  content: '';
  position: absolute;
  top: 17px;
  right: 4px;
  width: 3px;
  height: 90%;
  background: #0175b2;
}

.resume-wrapper .resume-right .resume-data:last-child .institution:after {
  display: none;
}

.resume-wrapper .resume-right .resmue-interests .resume-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.resume-wrapper .resume-right .resmue-interests .interests {
  font-size: 38px;
  color: #0175b2;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .resume-wrapper .resume-right .resume-namerole {
    display: none;
  }
  .resume-wrapper .resume-left .resume-namerole {
    display: block;
  }
  .resume-wrapper {
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
  }
  .resume-wrapper .resume-left,
  .resume-wrapper .resume-right {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .resume-wrapper .resume-right {
    padding: 20px 30px;
  }
  .resume-wrapper .resume-right .resume-data {
    flex-direction: column;
  }
  .resume-wrapper .resume-right .resume-data .institution {
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    color: #0175b2;
  }
  .resume-wrapper .resume-right .resume-data .institution:before,
  .resume-wrapper .resume-right .resume-data .institution:after {
    display: none;
  }
  .resume-wrapper .resume-right .resume-data .content {
    width: 100%;
    padding: 0;
  }
  .resume-wrapper .resume-right .resmue-interests .interests {
    font-size: 24px;
  }
}
